<mat-toolbar>
  <span>My Applications</span>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="reload" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button
    [disabled]="clickedRows.size == 0"
    mat-icon-button
    matTooltip="delete"
    (click)="delete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<a *ngFor="let item of fetchedProjects">
  <br>
  Project: {{item.name}}
  <br>
  Project Owner: {{item.owner}}


<table  mat-table [dataSource]="filter(item._id)" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>image</th>
    <td mat-cell *matCellDef="let element">{{ element.image }}</td>
  </ng-container>

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element._id }}</td>
  </ng-container>

  <ng-container matColumnDef="replicas">
    <th mat-header-cell *matHeaderCellDef>Replicas</th>
    <td mat-cell *matCellDef="let element">{{ element.replicas }}</td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>Version</th>
    <td mat-cell *matCellDef="let element">{{ element.version }}</td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let element">{{ element.user }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date Created</th>
    <td mat-cell *matCellDef="let element">{{ element.formattedDate }}</td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>Connection string</th>
    <td mat-cell *matCellDef="let element">
      <a target="_blank" href="http://{{ element.url }}"> {{ element.url }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status === 'running'">
        <mat-icon matTooltip="running" class="green-color"
          >fiber_manual_record</mat-icon
        >
      </div>
      <div *ngIf="element.status === 'pending'">
        <mat-icon matTooltip="pending" class="yellow-color"
          >fiber_manual_record</mat-icon
        >
      </div>
      <div *ngIf="element.status === 'deleting'">
        <mat-icon matTooltip="deleting" class="purple-color"
          >fiber_manual_record</mat-icon
        >
      </div>
      <div *ngIf="element.status === 'deleted'">
        <mat-icon matTooltip="deleted" class="red-color"
          >fiber_manual_record</mat-icon
        >
      </div>
      <div *ngIf="element.status === 'failed'">
        <mat-icon matTooltip="failed" class="red-color"
          >fiber_manual_record</mat-icon
        >
      </div>
      <div
        *ngIf="
          element.status != 'running' &&
          element.status != 'deleted' &&
          element.status != 'deleting' &&
          element.status != 'pending' &&
          element.status != 'failed'
        "
      >
        <mat-icon matTooltip="down" class="red-color"
          >fiber_manual_record</mat-icon
        >
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    [class.row-is-clicked]="clickedRows.has(row)"
    (click)="addRow(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
</a>