<ul class="sidenav sidenav-fixed a-sidenav">
  <h1>MarketPlace</h1>
  <li class="bold">
    <a href="myapps" class="waves-effect waves-orange">{{ displayName() }}</a>
  </li>
  <li class="bold" *ngFor="let link of links" routerLinkActive="active">
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">{{
      link.name
    }}</a>
  </li>
  <li class="bold">
    <a href="#" class="waves-effect waves-orange" (click)="logout($event)"
      >Exit</a
    >
  </li>
</ul>
<main class="content">
  <router-outlet></router-outlet>
</main>
