@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
